/*
.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position:relative;
}
.contenido::before {
    content: "";
    background-image: url('https://s3-videos.uax.es/public/images/bkg-distribuidor.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; /* Ajusta la opacidad (valor entre 0 y 1) 
    display: block;
    position: absolute;
}*/

.centrado {
    text-align: center;
    max-width: 33%; /* Establece el ancho máximo al % del ancho de la ventana */
    margin: 0 auto; /* Margen automático para centrar el contenido */
}

body {
    margin: 0;
    font-size: 16px;
}

.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url('https://s3-videos.uax.es/public/images/bkg-distribuidor.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5; /* Ajusta la opacidad solo del fondo */
    z-index: 0; /* Valor mayor que el del carrusel */
}

.contenido {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column; /* Alinea elementos verticalmente */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -100px;
}

.nombre {
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    font-size: 8vw;
    color: rgb(0, 0, 0);
}

.titulo {
    text-transform: uppercase;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 5vw;
    color: rgba(106, 106, 106, 0.975);
}

#ua {
    color: rgba(0, 0, 0, 0.729);
}

#x {
    color: rgba(52, 152, 219, 0.789);
}

.boton {
    display: block;
    margin: 10px;
    padding: 0.5em 1em; /* Tamaño de botón relativo */
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.5em; /* Tamaño de fuente relativo */
}

.boton:hover {
    background-color: #0056b3;
}

#slider {
    overflow: hidden;
}

.slider-container {
    display: flex;
    transition: transform 3s;
    animation: slider 10s infinite linear;
    background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
    z-index: 1; /* Valor menor que el de la foto de fondo */
    opacity: 0.8; /* Opacidad del carrusel */
}
.slide {
    flex: 0 0 100%; /* Cada slide ocupa el 100% del ancho */
}
.slide img {
    max-width: 100%;
    height: 100%; /* Ajusta la altura al 100% del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor manteniendo la relación de aspecto */
    opacity: 0.8; /* Opacidad individual de cada imagen */
}




/* Añade estilos para las imágenes dentro de cada slide según sea necesario */

@keyframes slider {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-200%);
    }
    /* Añade más puntos de parada según la cantidad de imágenes */
}


/* Estilos específicos para dispositivos pequeños (móviles) */
@media screen and (max-width: 768px) {
    .elemento-recortado {
        width: 100%; 
    }
    body {
        font-size: 14px;
    }
    .nombre {
        font-size: 6vw; /* Ajustar tamaño de fuente para dispositivos móviles */
    }
    .titulo {
        font-size: 4vw; /* Ajustar tamaño de fuente para dispositivos móviles */
    }
    #slider {
        display: block; /* Mostrar el slider en dispositivos móviles */
    }
}
@media screen and (min-width: 768px) {
    /* Estilos para pantallas de escritorio */
    /*
    #slider {
        /* Ajusta el tamaño del carrusel para pantallas de escritorio */
        /* Por ejemplo, puedes reducir el ancho 
        width: 70%;
    }
    .slide {
        flex: 0 0 33%; /* Ajusta el ancho de cada slide para 3 imágenes por fila 
        padding: 10px; /* Añade espacio entre las imágenes 
    }

    .slide img {
        /* Ajusta el tamaño de las imágenes del carrusel 
        max-width: 100%;
        height: auto;
    }*/
    .fondo{
        background-image: url('https://s3-videos.uax.es/public/images/bkg-distribuidor.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.5; /* Ajusta la opacidad solo del fondo*/
    }
    .elemento-recortado {
        width: 70%; /* Ajustar el ancho del contenido en escritorio */
    }
    body {
        font-size: 14px; /* Tamaño de fuente más pequeño en escritorio */
    }
    .nombre {
        font-size: 3vw; /* Ajustar tamaño de fuente para escritorio */
    }
    .titulo {
        font-size: 1vw; /* Ajustar tamaño de fuente más pequeño para escritorio */
    }

    #slider {
        display: none; /* Ocultar el slider en pantallas de escritorio */
    }
}